@import "variables";

.btn {
  font-weight: 600;
}

.btn-toggle {
  margin: 0 10px 10px 0;
  font-size: 13px;
  background-color: $white;
  color: $darkGray;
  border-radius: 2px;
  &:hover {
    border-color: $darkGray;
  }
  &:not(.toggled) {
    border: solid 1px $lightGray;
  }
  &.toggled {
    border: solid 1px $darkGray;
  }
}

.btn-role-selector {
  margin: 0 10px 10px 0;
  font-size: 13px;
  background-color: $white;
  border-radius: 2px;
}

.btn-design {
  color: $design;
  border-color: $design;
  &.toggled {
    color: $white;
    background-color: $design;
  }
}

.btn-engineering {
  color: $engineering;
  border-color: $engineering;
  &.toggled {
    color: $white;
    background-color: $engineering;
  }
}

.btn-business {
  color: $businessDev;
  border-color: $businessDev;
  &.toggled {
    color: $white;
    background-color: $businessDev;
  }
}

.btn-growth {
  color: $growth;
  border-color: $growth;
  &.toggled {
    color: $white;
    background-color: $growth;
  }
}

.btn-create-job {
  border: solid 1px $green;
  color: $green;
  background-color: transparent;
  &:hover, &:focus {
    background-color: $green;
    color: $white;
  }
}

.btn-preview-job {
  background-color: $blue;
  color: $white;
  border: none;
}

.btn-rounded {
  border-radius: 20px;
}

.btn-remove {
  border: solid 1px $red;
  background: transparent;
  color: $red;
  &:hover, &:focus {
    background-color: $red;
    color: $white;
  }
}

.btn-edit {
  border: solid 1px $blue;
  color: $blue;
  &:hover, &:focus {
    background-color: $blue;
    color: $white;
  }
}

.btn-view-challenge {
  border: solid 1px $darkGray;
  color: $darkGray;
  &:hover, &:focus {
    background-color: $darkGray;
    color: $white;
  }
}