@import "variables";

.intrn-container {
  width: 90%;
  max-width: 1200px;
  margin: 36px auto;
  padding-bottom: 100px;
}

.intrnBanner {
  width: 100%;
  padding: 60px 0;
  text-align: center;
  border-radius: 4px;
  margin-bottom: 36px;
  background-image: url(../imgs/hero/hero.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  &.aboutBanner {
    background-image: url(../imgs/hero/about_hero.png) !important;
  }
  &.hiringBanner {
    background-image: url(../imgs/hero/hiring_hero.png) !important;
  }
  h1 {
    font-size: 40px;
    color: $black;
    max-width: 600px;
    margin: 0 auto;
  }
  p {
    font-size: 20px;
    color: $black;
    max-width: 420px;
    margin: 24px auto 0 auto;
  }
}

.form-group {
  label.control-label {
    font-weight: 600;
    color: $darkGray;
    font-size: 17px;
    margin-bottom: 10px;
  }
  .form-control {
    border: solid 1px $gray;
    color: $almostBlack;
    padding: 10px;
    font-size: 15px;
    box-shadow: none;
    &:focus {
      border-color: $darkGray;
      outline: none;
    }
  }
}

textarea {
  resize: none;
}

.intrn-filters {
  h4 {
    color: $darkGray;
    font-size: 15px;
  }
}

hr {
  border-top-color: $lightGray;
}

.intrn-box {
  padding: 15px;
  width: 100%;
  background-color: $white;
  border: solid 1px $lightGray;
  border-radius: 4px;
  margin-bottom: 10px;
  .job-content {
    padding-left: 32px;
  }
  .job-type {
    font-size: 14px;
    font-weight: 700;
  }
  .job-title {
    font-size: 27px;
    line-height: 36px;
    font-weight: 300;
    color: $almostBlack;
    margin: 0 0 1px 0;
  }
  .meta-stats {
    font-size: 15px;
    color: $gray;
  }
  .job-description {
    .job-description-item {
      h4 {
        color: $darkGray;
        font-size: 17px;
      }
      p {
        color: $almostBlack;
        font-size: 15px;
      }
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
}

.intrn-help-items {
  a {
    color: $darkGray;
    margin: 0 5px;
  }
}

.applicants-table-box {
  padding: 8px 0;
  border-top: solid 1px $lightGray;
  border-bottom: solid 1px $lightGray;
  margin-bottom: 15px;
}

.applicants-table {
  width: 100%;
  tr {
    font-size: 15px;
    padding: 4px 0;
    &:hover {
      background-color: $snow;
    }
  }
  .applicant-contact-link {
    color: $green;
  }
}

.m-r-sm {
  margin-right: 1rem;
}

.m-l-sm {
  margin-left: 1rem;
}