@import "layout";
@import "variables";
@import "nav";
@import "buttons";

* {
  margin: 0;
  padding: 0;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

html, body {
  height: 100%;
  width: 100%;
  font: 100% / 1.6rem 'Assistant', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: $snow;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

.text-design {
  color: $design;
}

.text-engineering {
  color: $engineering;
}

.text-business {
  color: $businessDev;
}

.text-growth {
  color: $growth;
}

.black-text {
  color: $black;
}

.almost-black-text {
  color: $almostBlack;
}

.gray-text {
  color: $gray;
}

.dark-gray-text {
  color: $darkGray;
}

.intrn-btn {
  padding: 8px 15px;
  border-radius: 25px;
  text-decoration: none;
  display: inline-block;
  border: solid 1px;
  background-color: $white;
  margin: 0 5px;
  &:hover {
    text-decoration: none;
  }
}

//Default styles
.intrn-btn-default {
  border-color: $gray;
  color: $gray;
  &:hover {
    background-color: $gray;
    color: $white;
  }
}

//Design styles
.intrn-btn-design {
  border-color: $design;
  color: $design;
  &:hover {
    background-color: $design;
    color: $white;
  }
}

.intrn-btn-engineering {
  border-color: $engineering;
  color: $engineering;
  &:hover {
    background-color: $engineering;
    color: $white;
  }
}

.intrn-btn-business {
  border-color: $businessDev;
  color: $businessDev;
  &:hover {
    background-color: $businessDev;
    color: $white;
  }
}

.intrn-btn-growth {
  border-color: $growth;
  color: $growth;
  &:hover {
    background-color: $growth;
    color: $white;
  }
}

.font-semi-bold {
  font-weight: 600;
}

.stat-box {
  display: flex;
}

.stat {
  border: solid 1px $lightGray;
  background-color: $white;
  border-radius: 4px;
  padding: 0 10px 8px 10px;
  color: $almostBlack;
  margin-right: 10px;
  width: calc(100% / 3);
  h1 {
    font-weight: 300;
    font-size: 30px;
  }
  small {
    font-size: 14px;
    font-weight: 600;
  }
}