@import "layout";
@import "variables";
@import "nav";
@import "buttons";

* {
  margin: 0;
  padding: 0;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

html, body {
  height: 100%;
  width: 100%;
  font: 100% 'Assistant', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: $snow;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

.text-design {
  color: $design;
}

.text-engineering {
  color: $engineering;
}

.text-business {
  color: $businessDev;
}

.text-growth {
  color: $growth;
}