$white: #fff;
$snow: #F9F9F9;

$black: #4A4A4A;
$almostBlack: #575757;

$gray: #9B9B9B;
$darkGray: #737373;
$lightGray: #D5D5D5;

$purple: #925BC3;
$yellow: #E7AA3A;
$green: #44D1A5;
$blue: #19AAE5;
$pink: #D36597;

$design: $yellow;
$engineering: $green;
$businessDev: $purple;
$growth: $blue;