$white: #fff;
$snow: #F9F9F9;

$black: #4A4A4A;
$almostBlack: #575757;

$gray: #9B9B9B;
$darkGray: #737373;
$lightGray: #D5D5D5;
$toggleGray: #E0E0E0;

$purple: #925BC3;
$lightPurple: #e9e1f0;
$yellow: #E7AA3A;
$lightYellow: #f6eddc;
$green: #44D1A5;
$lightGreen: #ddf2ec;
$blue: #19AAE5;
$lightBlue: #d7edf5;
$pink: #D36597;
$red: #D97441;

$design: $yellow;
$engineering: $green;
$businessDev: $purple;
$growth: $blue;