<div class="intrn-box">
    <div class="pull-left job-type-circle job-type-circle-{{job.role.styleClass}} text-{{job.role.styleClass}}">
        {{job.jobType.name | limitTo:1}}
    </div>
    <div class="job-content">
        <span class="pull-right glyphicon gray-text"
              ng-class="{'glyphicon-chevron-down': !$scope.dropdownIsOpen, 'glyphicon-chevron-up': $scope.dropdownIsOpen}"
              ng-click="toggleDropdown()"></span>
        <p class="text-{{job.role.styleClass}} job-type">{{job.role.name}}</p>
        <h3 class="job-title">{{job.title}} for {{job.industry}} Startup</h3>
        <p class="meta-stats">{{job.location.name}} - Posted on {{job.createdAt | date}} by {{job.company.name}} -
            {{applicants.length || '0'}} Applicants - {{job.interested || '0'}} Interested
        </p>
        <div ng-if="dropdownIsOpen" class="job-description">
            <hr>
            <div class="job-description-item">
                <h4>What you’ll do with us</h4>
                <p>{{job.canDo}}</p>
            </div>
            <div class="job-description-item">
                <h4>What you can probably already do</h4>
                <p>{{job.requirements}}</p>
            </div>
            <div class="job-description-item">
                <h4>What you’ll get from us</h4>
                <p>{{job.perks}}</p>
            </div>
            <div class="pull-right">
                <button class="intrn-btn intrn-btn-{{job.role.styleClass}}"
                        ng-click="downloadChallenge()"
                        ng-href="{{blob.path}}">Download Challenge
                </button>
                <button class="intrn-btn intrn-btn-{{job.role.styleClass}}"
                        ng-click="applyForJob()">Apply for this job
                </button>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>