<intrn-banner-component intrn-banner-heading-data="About Intrn.co"></intrn-banner-component>
<div class="row">
    <div class="col-md-8">
        <h2>Our Mission</h2>
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab adipisci autem beatae cupiditate, explicabo,
            facere id, iure labore laboriosam nesciunt pariatur possimus provident quia quidem recusandae sint unde vel
            velit.</p>
        <br>
        <h2>Our Team</h2>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-xs-4">
                        <img src="" alt="" class="img-md">
                    </div>
                    <div class="col-xs-8">
                        <h3 class="font-semi-bold">Matt Zweibel</h3>
                        <p class="gray-text">Project Management</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-xs-4">
                        <img src="" alt="" class="img-md">
                    </div>
                    <div class="col-xs-8">
                        <h3 class="font-semi-bold">Matt Zweibel</h3>
                        <p class="gray-text">Project Management</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <h2>Our Partners</h2>
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam dolorum, harum inventore nemo nesciunt unde
            velit vero voluptate. Facere hic itaque iusto non, perferendis quae quidem repellendus ut vel
            voluptates?</p>
    </div>
</div>