<intrn-banner-component intrn-banner-heading-data="About Intrn.co"
                        intrn-banner-image="aboutBanner"></intrn-banner-component>
<div class="row">
    <div class="col-md-8">
        <h2>Our Mission</h2>
        <hr>
        <p>Intrn.co is an open source community that provides ambitious early-stage startups with the best university
            talent.
            <br><br>
            For businesses, our platform naturally vets candidates by requiring a challenge to be completed for every
            job application. Challenges ensure that only the most qualified and motivated candidates apply for a role,
            while acting as valuable case studies for applicants who don’t advance.
            <br><br>
            For students, we curate local, young, and promising startups where one can play an influential role in
            building a high-growth product. Working with these startups means students get the chance to experience the
            hustle of building a real business while expanding their skillsets and portfolios.
            <br><br>
            Intrn.co is built by a group of individuals that recognizes the value of an early-career in startups. We
            wanted to raise awareness for local startup opportunities while bringing better workers to the local startup
            community. Interested in brining intrn.co to your school or community? Contact us at support@intrn.co.</p>
        <br>
        <h2>Our Team</h2>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-xs-4">
                        <img src="imgs/people/matt.png" alt="Matt Photo" class="img-md">
                    </div>
                    <div class="col-xs-8">
                        <h3 class="font-reg">
                            <a href="https://www.linkedin.com/in/mbzwiebel/"
                               class="about-link"
                               target="_blank">Matt Zweibel</a>
                        </h3>
                        <p class="gray-text">Project Management</p>
                    </div>
                </div>
                <br>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-xs-4">
                        <img src="imgs/people/johnny.png" alt="Johnny Photo" class="img-md">
                    </div>
                    <div class="col-xs-8">
                        <h3 class="font-reg">
                            <a href="https://www.linkedin.com/in/johnny-sengelmann-8385b030/"
                               class="about-link"
                               target="_blank">Johnny Sengelmann</a>
                        </h3>
                        <p class="gray-text">Project Management</p>
                    </div>
                </div>
                <br>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-xs-4">
                        <img src="imgs/people/daniel.png" alt="Daniel Photo" class="img-md">
                    </div>
                    <div class="col-xs-8">
                        <h3 class="font-reg">
                            <a href="https://www.linkedin.com/in/danielrfarrell/"
                               class="about-link"
                               target="_blank">Daniel R Farrell</a>
                        </h3>
                        <p class="gray-text">Design &amp; Recruiting</p>
                    </div>
                </div>
                <br>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-xs-4">
                        <img src="imgs/people/henry.png" alt="Henry Photo" class="img-md">
                    </div>
                    <div class="col-xs-8">
                        <h3 class="font-reg">
                            <a href="https://www.linkedin.com/in/kaufmanhenry/"
                               class="about-link"
                               target="_blank">Henry Kaufman</a>
                        </h3>
                        <p class="gray-text">Development</p>
                    </div>
                </div>
                <br>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-xs-4">
                        <img src="imgs/people/jaimie.png" alt="Jaimie Photo" class="img-md">
                    </div>
                    <div class="col-xs-8">
                        <h3 class="font-reg">
                            <a href="https://www.linkedin.com/in/jaimielogan/"
                               class="about-link"
                               target="_blank">Jamie Logan</a>
                        </h3>
                        <p class="gray-text">Development</p>
                    </div>
                </div>
                <br>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-xs-4">
                        <img src="imgs/people/stephen.png" alt="Stephen Photo" class="img-md">
                    </div>
                    <div class="col-xs-8">
                        <h3 class="font-reg">
                            <a href=" https://www.linkedin.com/in/stephen-knutter-60135a124/"
                               class="about-link"
                               target="_blank">Stephen Knutter</a>
                        </h3>
                        <p class="gray-text">Development</p>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <h2>Our Partners</h2>
        <hr>
        <div class="text-center">
            <img src="imgs/companies/galvanize.png" alt="Galvanize" class="img-md">
            <br>
            <br>
            <img src="imgs/companies/x.png" alt="X" class="img-sm">
        </div>
    </div>
</div>