<intrn-banner-component intrn-banner-heading-data="Getting an internship at a startup is hard. Here’s an easier way."
                        intrn-banner-subheading-data="Browse available positions, complete a challenge project, receive feedback, and get hired "></intrn-banner-component>
<div class="row">
    <div class="col-md-8">
        <intrn-job-listing-component ng-repeat="job in filteredJobs"
                                     intrn-job-data="job"></intrn-job-listing-component>
        <p class="gray-text text-center" ng-if="filteredJobs.length < 1">No jobs found.</p>
        <br>
        <hr>
        <p class="gray-text text-center">That’s all of the postings we have. Every posting is only up for 90 days, so be
            sure to apply to the ones you’re qualified for. Otherwise, check back later for more!</p>
    </div>
    <div class="col-md-4">
        <div class="intrn-filters">
            <h4>Role</h4>
            <hr>
            <button class="btn btn-role-selector btn-{{role.styleClass}}"
                    ng-repeat="role in enums.AllRoles"
                    ng-class="{'toggled': isInFilter('roleFilters', role)}"
                    ng-click="setFilter(role, 'roleFilters')">
                {{role.name}}
            </button>
            <br>
            <br>
            <h4>Locations</h4>
            <hr>
            <button class="btn btn-toggle"
                    ng-repeat="location in enums.AllLocations"
                    ng-class="{'toggled': isInFilter('locationFilters', location)}"
                    ng-click="setFilter(location, 'locationFilters')">
                {{location.name}}
            </button>
            <br>
            <br>
            <h4>Job Type</h4>
            <hr>
            <button class="btn btn-toggle"
                    ng-repeat="jobType in enums.AllJobTypes"
                    ng-class="{'toggled': isInFilter('jobFilters', jobType)}"
                    ng-click="setFilter(jobType, 'jobFilters')">
                {{jobType.name}}
            </button>
        </div>
        <br>
        <intrn-help-items-component></intrn-help-items-component>
    </div>
</div>