.intrn-container {
  width: 90%;
  max-width: 1200px;
  margin: 36px auto;
  padding-bottom: 100px; }

.intrnBanner {
  width: 100%;
  padding: 60px 0;
  text-align: center;
  border-radius: 4px;
  margin-bottom: 36px;
  background-color: #D5D5D5;
  background-image: url(../imgs/hero/hero.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  .intrnBanner.aboutBanner {
    background-image: url(../imgs/hero/about_hero.png) !important; }
  .intrnBanner.hiringBanner {
    background-image: url(../imgs/hero/hiring_hero.png) !important; }
  .intrnBanner h1 {
    font-size: 40px;
    color: #4A4A4A;
    max-width: 600px;
    margin: 0 auto; }
  .intrnBanner p {
    font-size: 20px;
    color: #4A4A4A;
    max-width: 420px;
    margin: 24px auto 0 auto; }

.form-group label.control-label {
  font-weight: 600;
  color: #737373;
  font-size: 17px;
  margin-bottom: 10px; }

.form-group .form-control {
  border: solid 1px #9B9B9B;
  color: #575757;
  padding: 10px;
  font-size: 15px;
  box-shadow: none; }
  .form-group .form-control:focus {
    border-color: #737373;
    outline: none; }

textarea {
  resize: none; }

.intrn-filters h4 {
  color: #737373;
  font-size: 15px; }

hr {
  border-top-color: #D5D5D5; }

.intrn-box {
  padding: 15px;
  width: 100%;
  background-color: #fff;
  border: solid 1px #D5D5D5;
  border-radius: 4px;
  margin-bottom: 10px; }
  .intrn-box .job-content {
    padding-left: 32px; }
  .intrn-box .job-type {
    font-size: 14px;
    font-weight: 700; }
  .intrn-box .job-title {
    font-size: 27px;
    line-height: 36px;
    font-weight: 300;
    color: #575757;
    margin: 0 0 1px 0; }
  .intrn-box .meta-stats {
    font-size: 15px;
    color: #9B9B9B; }
  .intrn-box .job-description .job-description-item h4 {
    color: #737373;
    font-size: 17px; }
  .intrn-box .job-description .job-description-item p {
    color: #575757;
    font-size: 15px; }
  .intrn-box .job-description .job-description-item:not(:last-child) {
    margin-bottom: 20px; }

.intrn-help-items a {
  color: #737373;
  margin: 0 5px; }

.applicants-table-box {
  padding: 8px 0;
  border-top: solid 1px #D5D5D5;
  border-bottom: solid 1px #D5D5D5;
  margin-bottom: 15px; }

.applicants-table {
  width: 100%; }
  .applicants-table tr {
    font-size: 15px;
    padding: 4px 0; }
    .applicants-table tr:hover {
      background-color: #F9F9F9; }
  .applicants-table .applicant-contact-link {
    color: #44D1A5; }

.m-r-sm {
  margin-right: 1rem; }

.m-l-sm {
  margin-left: 1rem; }

.intrn-container {
  width: 90%;
  max-width: 1200px;
  margin: 36px auto;
  padding-bottom: 100px; }

.intrnBanner {
  width: 100%;
  padding: 60px 0;
  text-align: center;
  border-radius: 4px;
  margin-bottom: 36px;
  background-color: #D5D5D5;
  background-image: url(../imgs/hero/hero.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  .intrnBanner.aboutBanner {
    background-image: url(../imgs/hero/about_hero.png) !important; }
  .intrnBanner.hiringBanner {
    background-image: url(../imgs/hero/hiring_hero.png) !important; }
  .intrnBanner h1 {
    font-size: 40px;
    color: #4A4A4A;
    max-width: 600px;
    margin: 0 auto; }
  .intrnBanner p {
    font-size: 20px;
    color: #4A4A4A;
    max-width: 420px;
    margin: 24px auto 0 auto; }

.form-group label.control-label {
  font-weight: 600;
  color: #737373;
  font-size: 17px;
  margin-bottom: 10px; }

.form-group .form-control {
  border: solid 1px #9B9B9B;
  color: #575757;
  padding: 10px;
  font-size: 15px;
  box-shadow: none; }
  .form-group .form-control:focus {
    border-color: #737373;
    outline: none; }

textarea {
  resize: none; }

.intrn-filters h4 {
  color: #737373;
  font-size: 15px; }

hr {
  border-top-color: #D5D5D5; }

.intrn-box {
  padding: 15px;
  width: 100%;
  background-color: #fff;
  border: solid 1px #D5D5D5;
  border-radius: 4px;
  margin-bottom: 10px; }
  .intrn-box .job-content {
    padding-left: 32px; }
  .intrn-box .job-type {
    font-size: 14px;
    font-weight: 700; }
  .intrn-box .job-title {
    font-size: 27px;
    line-height: 36px;
    font-weight: 300;
    color: #575757;
    margin: 0 0 1px 0; }
  .intrn-box .meta-stats {
    font-size: 15px;
    color: #9B9B9B; }
  .intrn-box .job-description .job-description-item h4 {
    color: #737373;
    font-size: 17px; }
  .intrn-box .job-description .job-description-item p {
    color: #575757;
    font-size: 15px; }
  .intrn-box .job-description .job-description-item:not(:last-child) {
    margin-bottom: 20px; }

.intrn-help-items a {
  color: #737373;
  margin: 0 5px; }

.applicants-table-box {
  padding: 8px 0;
  border-top: solid 1px #D5D5D5;
  border-bottom: solid 1px #D5D5D5;
  margin-bottom: 15px; }

.applicants-table {
  width: 100%; }
  .applicants-table tr {
    font-size: 15px;
    padding: 4px 0; }
    .applicants-table tr:hover {
      background-color: #F9F9F9; }
  .applicants-table .applicant-contact-link {
    color: #44D1A5; }

.m-r-sm {
  margin-right: 1rem; }

.m-l-sm {
  margin-left: 1rem; }

.intrn-nav {
  width: 100%;
  background-color: #fff;
  height: 50px; }
  .intrn-nav .intrn-nav-content {
    width: 90%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center; }
    .intrn-nav .intrn-nav-content img {
      height: 25px; }
    .intrn-nav .intrn-nav-content .grow {
      flex-grow: 1; }
    .intrn-nav .intrn-nav-content a {
      color: #737373;
      font-weight: 700; }

.btn {
  font-weight: 600; }

.btn-toggle {
  margin: 0 10px 10px 0;
  font-size: 13px;
  background-color: #fff;
  color: #737373;
  border-radius: 2px; }
  .btn-toggle:hover {
    border-color: #737373 !important; }
  .btn-toggle:not(.toggled) {
    border: solid 1px #D5D5D5; }
  .btn-toggle.toggled {
    border: solid 1px #737373;
    background-color: #737373;
    color: #fff; }

.btn-role-selector {
  margin: 0 10px 10px 0;
  font-size: 13px;
  background-color: #fff;
  border-radius: 2px; }

.btn-design {
  color: #E7AA3A;
  border-color: #E7AA3A; }
  .btn-design.toggled {
    color: #fff;
    background-color: #E7AA3A; }

.btn-engineering {
  color: #44D1A5;
  border-color: #44D1A5; }
  .btn-engineering.toggled {
    color: #fff;
    background-color: #44D1A5; }

.btn-business {
  color: #925BC3;
  border-color: #925BC3; }
  .btn-business.toggled {
    color: #fff;
    background-color: #925BC3; }

.btn-growth {
  color: #19AAE5;
  border-color: #19AAE5; }
  .btn-growth.toggled {
    color: #fff;
    background-color: #19AAE5; }

.btn-create-job {
  border: solid 1px #44D1A5;
  color: #44D1A5;
  background-color: transparent; }
  .btn-create-job:hover, .btn-create-job:focus {
    background-color: #44D1A5;
    color: #fff; }

.btn-preview-job {
  background-color: #19AAE5;
  color: #fff;
  border: none; }

.btn-rounded {
  border-radius: 20px; }

.btn-remove {
  border: solid 1px #D97441;
  background: transparent;
  color: #D97441; }
  .btn-remove:hover, .btn-remove:focus {
    background-color: #D97441;
    color: #fff; }

.btn-edit {
  border: solid 1px #19AAE5;
  color: #19AAE5; }
  .btn-edit:hover, .btn-edit:focus {
    background-color: #19AAE5;
    color: #fff; }

.btn-view-challenge {
  border: solid 1px #737373;
  color: #737373; }
  .btn-view-challenge:hover, .btn-view-challenge:focus {
    background-color: #737373;
    color: #fff; }

* {
  margin: 0;
  padding: 0;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease; }

html, body {
  height: 100%;
  width: 100%;
  font: 100% / 1.6rem 'Assistant', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #F9F9F9;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

p {
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 600; }

.text-design {
  color: #E7AA3A; }

.text-engineering {
  color: #44D1A5; }

.text-business {
  color: #925BC3; }

.text-growth {
  color: #19AAE5; }

.text-danger {
  color: #D97441; }

.text-red-hover:hover {
  color: #D97441; }

.black-text {
  color: #4A4A4A; }

.almost-black-text {
  color: #575757; }

.gray-text {
  color: #9B9B9B; }

.dark-gray-text {
  color: #737373; }

.intrn-btn {
  padding: 8px 15px;
  border-radius: 25px;
  text-decoration: none;
  display: inline-block;
  border: solid 1px;
  background-color: #fff;
  margin: 0 5px; }
  .intrn-btn:hover {
    text-decoration: none; }

.intrn-btn-default {
  border-color: #9B9B9B;
  color: #9B9B9B; }
  .intrn-btn-default:hover {
    background-color: #9B9B9B;
    color: #fff; }

.intrn-btn-design {
  border-color: #E7AA3A;
  color: #E7AA3A; }
  .intrn-btn-design:hover {
    background-color: #E7AA3A;
    color: #fff; }

.intrn-btn-engineering {
  border-color: #44D1A5;
  color: #44D1A5; }
  .intrn-btn-engineering:hover {
    background-color: #44D1A5;
    color: #fff; }

.intrn-btn-business {
  border-color: #925BC3;
  color: #925BC3; }
  .intrn-btn-business:hover {
    background-color: #925BC3;
    color: #fff; }

.intrn-btn-growth {
  border-color: #19AAE5;
  color: #19AAE5; }
  .intrn-btn-growth:hover {
    background-color: #19AAE5;
    color: #fff; }

.font-semi-bold {
  font-weight: 600; }

.font-reg {
  font-weight: 400; }

.stat-box {
  display: flex; }

.stat {
  border: solid 1px #D5D5D5;
  background-color: #fff;
  border-radius: 4px;
  padding: 0 10px 8px 10px;
  color: #575757;
  margin-right: 10px;
  width: calc(100% / 3); }
  .stat h1 {
    font-weight: 300;
    font-size: 30px; }
  .stat small {
    font-size: 14px;
    font-weight: 600; }

.img-md {
  width: 100%; }

.img-sm {
  width: 50%; }

.text-center {
  text-align: center; }

.job-type-circle {
  font-size: 14px;
  line-height: 18px;
  width: 20px;
  height: 20px;
  border: solid 1px;
  border-radius: 10px;
  text-align: center;
  margin-right: 12px;
  margin-top: 1px; }
  .job-type-circle.job-type-circle-design {
    border-color: #E7AA3A; }
  .job-type-circle.job-type-circle-engineering {
    border-color: #44D1A5; }
  .job-type-circle.job-type-circle-business {
    border-color: #925BC3; }
  .job-type-circle.job-type-circle-growth {
    border-color: #19AAE5; }

.about-link {
  color: #4A4A4A; }
  .about-link:hover {
    color: #9B9B9B;
    text-decoration: none; }
  .about-link:active {
    text-decoration: none;
    color: #9B9B9B; }
  .about-link:focus {
    text-decoration: none;
    color: #9B9B9B; }

