<intrn-banner-component intrn-banner-heading-data="Post a job. Hire amazing students. Expedite excellent work."
                        intrn-banner-subheading-data="Intrn.co is the best way to reach qualified and motivated students. Get started with a new posting below."
                        intrn-banner-image="hiringBanner"></intrn-banner-component>
<form name="internshipForm" novalidate>
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Title of Position</label>
                        <input type="text"
                               class="form-control"
                               ng-model="internship.title"
                               required
                               placeholder="Accounting Intern">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Industry of Company</label>
                        <span class="pull-right gray-text glyphicon glyphicon-question-sign"
                              uib-tooltip="Your posting will show up like “[Position] for [Industry of Company]” like  “Accounting Intern for Finance Startup.” Choose a general industry that makes the most sense for the posting."></span>
                        <input type="text"
                               class="form-control"
                               ng-model="internship.industry"
                               required
                               placeholder="Finance">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Company Name</label>
                        <input type="text"
                               class="form-control"
                               ng-model="internship.companyName"
                               required
                               placeholder="Galvanize">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Company Website</label>
                        <input type="url"
                               class="form-control"
                               ng-model="internship.companyWebsite"
                               required
                               placeholder="http://galvanize.com">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label">What the candidate will do with you</label>
                        <span class="pull-right gray-text glyphicon glyphicon-question-sign"
                              uib-tooltip="This is a list that will describe what the candidate will expect to be doing, their tasks, some of your goals, and anything else that may convince a candidate that their skills are relevant for this role."></span>
                        <textarea rows="6"
                                  class="form-control"
                                  ng-model="internship.canDo"
                                  required
                                  placeholder="Concept, design, and evolve our visual identity as we scale while keeping the 	system fresh, interesting, and inspiring"></textarea>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label">What the candidate can probably already do</label>
                        <span class="pull-right gray-text glyphicon glyphicon-question-sign"
                              uib-tooltip="A short list of skills, languages, programs, and tools the candidate should be partially or completely familiar with in order to jump into this role."></span>
                        <textarea rows="3"
                                  class="form-control"
                                  ng-model="internship.requirements"
                                  required
                                  placeholder="Sketch, InDesign, Invision, FramerJs, HTML/CSS"></textarea>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label">Perks, incentives, and compensation that the candidate can
                            expect</label>
                        <span class="pull-right gray-text glyphicon glyphicon-question-sign"
                              uib-tooltip="A list of what makes your company an awesome place to work for, whether it’s immediate or long-term."></span>
                        <textarea rows="4"
                                  class="form-control"
                                  ng-model="internship.perks"
                                  required
                                  placeholder="A fully-stocked kitchen with all the good stuff, office dogs to love,  your own desk and hardware, mentorship from anyone about anything, company trips, unlimited vacation, and priority access to our Summer programs."></textarea>
                    </div>
                </div>
            </div>
            <hr>
            <p class="text-muted text-center">Every posting is only up for 90 days, so be sure to make sure the
                challenges can be
                completed within that time.</p>
        </div>
        <div class="col-md-4">
            <div class="text-center">
                <h3 class="almost-black-text">Select Your Filter Criteria</h3>
                <p class="gray-text">You may only select one filter in each category for each role.</p>
            </div>
            <br>
            <div class="intrn-filters">
                <h4>Role</h4>
                <hr>
                <button class="btn btn-role-selector btn-{{role.styleClass}}"
                        ng-repeat="role in enums.AllRoles"
                        ng-class="{'toggled': role.index === internship.role.index}"
                        ng-click="setProperty(role, 'role')">
                    {{role.name}}
                </button>
                <br>
                <br>
                <h4>Locations</h4>
                <hr>
                <button class="btn btn-toggle btn-{{role.styleClass}}"
                        ng-repeat="location in enums.AllLocations"
                        ng-class="{'toggled': location.index === internship.location.index}"
                        ng-click="setProperty(location, 'location')">
                    {{location.name}}
                </button>
                <br>
                <br>
                <h4>Job Type</h4>
                <hr>
                <button class="btn btn-toggle btn-{{role.styleClass}}"
                        ng-repeat="jobType in enums.AllJobTypes"
                        ng-class="{'toggled': jobType.index === internship.jobType.index}"
                        ng-click="setProperty(jobType, 'jobType')">
                    {{jobType.name}}
                </button>
                <br>
                <br>
                <h4>Upload Challenge</h4>
                <hr>
                <div ng-if="!blob">
                    <intrn-file-picker-component intrn-on-select="onSelect(file)"
                                                 intrn-on-load="onLoad(uri)"></intrn-file-picker-component>
                    <span ng-if="file.name">{{file.name}}</span>
                </div>
                <div ng-if="blob">
                    <p>You have already uploaded <a ng-href="{{blob.path}}">{{blob.file.filename}}</a>.</p>
                </div>
                <br>
                <br>
                <h4>Finalize Posting
                    <span class="pull-right gray-text glyphicon glyphicon-question-sign"
                          uib-tooltip="Submit your posting to the job board. Candidates will be able to see and apply for your posting."></span>
                </h4>
                <hr>
                <button class="btn btn-create-job btn-block btn-rounded"
                        ng-disabled="internshipForm.$invalid || !internship.location || !internship.role || !internship.jobType || !(file || blob)"
                        ng-click="saveJob()">{{internship._id ? 'Update' : 'Ready to Publish'}} this Job
                </button>
                <p class="gray-text m-t-sm">You can only classify someone as an intern if each of the below criteria is
                    met. If any one or more of the below criteria cannot be met, then the law requires that you treat
                    the person as an employee and pay him/her minimum wage and overtime as you would for any other
                    non-exempt employee. Below are the criteria that must be met for the intern designation:</p>
                <ol class="gray-text">
                    <li>The internship, even though it includes actual operation of the company’s business, is similar
                        to training that would be given in a vocational school;
                    </li>
                    <li>The internship is for the benefit of the intern;</li>
                    <li>The intern does not displace regular employees and works under close observation;</li>
                    <li>The company derives no immediate advantage from the activities of the intern and on occasion the
                        company’s operations may actually be impeded;
                    </li>
                    <li>The intern is not necessarily entitled to a job at the completion of the internship; and</li>
                    <li>The company and the intern understand that the intern is not entitled to wages for the time
                        spent in the internship.
                    </li>
                </ol>
            </div>
        </div>
    </div>
</form>