<h1 class="black-text">{{company.name}}’s hiring dashboard</h1>
<hr>
<br>
<div class="row">
    <div class="col-md-8">
        <intrn-admin-job-component ng-repeat="job in jobs" intrn-job-data="job" intrn-on-change-load="load"></intrn-admin-job-component>
    </div>
    <div class="col-md-4">
        <div class="text-center">
            <h3 class="almost-black-text">Applications</h3>
            <p class="gray-text">Download candidate profiles and projects</p>
        </div>
        <br>
        <div class="intrn-filters">
            <h4>New</h4>
            <hr>

        </div>
        <a ng-href="#/companies/{{company._id}}/internships/new" class="btn btn-primary">Post a new Job</a>
    </div>
</div>