<h1>{{company.name}}’s hiring dashboard</h1>
<br>
<h2>Job Listings</h2>
<div class="row">
    <div class="col-md-8">
        <intrn-admin-job-component ng-repeat="job in jobs" intrn-job-data="job" intrn-on-change-load="load"></intrn-admin-job-component>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-body">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, ad at consequatur eveniet explicabo illo
                incidunt laborum modi necessitatibus odit repellat, similique tempore voluptates! Assumenda deleniti
                laborum nostrum totam vero?
            </div>
        </div>
        <a ng-href="#/companies/{{company._id}}/internships/new" class="btn btn-primary">Post a new Job</a>
    </div>
</div>