<div class="intrn-box">
    <p class="text-{{job.role.styleClass}} job-type">{{job.role.name}}</p>
    <h3 class="job-title">{{job.title}}</h3>
    <p class="meta-stats">{{job.location.name}} - Posted on {{job.createdAt | date}} by {{job.company.name}} -
        {{applicants.length}} Applicants
    </p>
    <div class="job-description">
        <hr>
        <div class="table-responsive" ng-if="applicants.length > 0">
            <div class="applicants-table-box">
                <table class="applicants-table">
                    <tbody>
                    <tr ng-repeat="applicant in applicants">
                        <td class="font-semi-bold dark-gray-text">{{applicant.firstName}} {{applicant.lastName}}</td>
                        <td class="gray-text">{{applicant.createdAt | date}}</td>
                        <td><a href ng-click="viewApplication(applicant)">View Application</a></td>
                        <td><a ng-href="mailto:{{applicant.email}}" class="applicant-contact-link">Contact</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="job-description-item">
            <h4>What you’ll do with us</h4>
            <p>{{job.canDo}}</p>
        </div>
        <div class="job-description-item">
            <h4>What you can probably already do</h4>
            <p>{{job.requirements}}</p>
        </div>
        <div class="job-description-item">
            <h4>What you’ll get from us</h4>
            <p>{{job.perks}}</p>
        </div>
        <div class="pull-left">
            <button class="btn btn-remove btn-rounded" ng-click="removeJob()" ng-if="!expired">Remove</button>
            <button class="btn btn-create-job btn-rounded" ng-click="relist()" ng-if="expired">Re-List</button>
        </div>
        <div class="pull-right">
            <a class="btn btn-edit btn-rounded" ng-href="#/companies/{{job.company._id}}/internships/{{job._id}}" ng-if="!expired">Edit</a>
            <a class="btn btn-view-challenge btn-rounded " ng-href="#">View Challenge</a>
        </div>
        <div class="clearfix"></div>
    </div>
</div>