<h1>Privacy</h1>
<hr>
<p>
    This Privacy Policy describes how and when we collect, use and share your information across our websites, SMS,
    APIs, email notifications, applications, buttons, widgets, ads, commerce services, and our other covered services
    that link to this Policy (collectively, the “Services”), and from our partners and other third parties. For example,
    you send us information when you use our Services on the web, via SMS, or from an application such as Twitter for
    Mac, Twitter for Android or TweetDeck. When using any of our Services you consent to the collection, transfer,
    storage, disclosure, and use of your information as described in this Privacy Policy. This includes any information
    you choose to provide that is deemed sensitive under applicable law.
    <br><br>
    When this policy mentions “we” or “us,” it refers to the controller of your information under this policy. If you
    live in the United States, your information is controlled by Twitter, Inc., 1355 Market Street, Suite 900, San
    Francisco, CA 94103 U.S.A. If you live outside the United States, the data controller responsible for your
    information is Twitter International Company, an Irish company with its registered office at The Academy, 42 Pearse
    Street, Dublin 2, Ireland. Despite this, you alone control and are responsible for the posting of your Tweets and
    other content you submit through the Services, as provided in the Terms of Service and Twitter Rules.
    <br><br>
    Irrespective of which country you live in, you authorize us to transfer, store, and use your information in the
    United States, Ireland, and any other country where we operate. In some of these countries, the privacy and data
    protection laws and rules regarding when government authorities may access data may vary from those in the country
    where you live.
    <br><br>
    If you have any questions or comments about this Privacy Policy, please submit a request through our form, available
    at https://support.twitter.com/forms/privacy.
    <br><br>
    Basic Account Information: If you choose to create a Twitter account, you must provide us with some personal
    information, such as your name, username, password, email address, or phone number. On Twitter, your name and
    username are listed publicly, including on your profile page and in search results, and you can use either your real
    name or a pseudonym. You can create and manage multiple Twitter accounts. If you use Digits by Twitter, the contact
    information you provide to log in is not public. Some of our product features, such as searching and viewing public
    Twitter user profiles or watching a Periscope broadcast on Twitter, do not require you to create an account.
    <br><br>
    Contact Information: You may use your contact information, such as your email address or phone number, to customize
    your account or enable certain account features, for example, for login verification or Twitter via SMS. If you
    provide us with your phone number, you agree to receive text messages to that number from us. We may use your
    contact information to send you information about our Services, to market to you, to help prevent spam, fraud, or
    abuse, and to help others find your account, including through third-party services and client applications. You may
    use your settings for email and mobile notifications to control notifications you receive from Twitter. You may also
    unsubscribe from a notification by following the instructions contained within the notification or the instructions
    on our website. Your Discoverability privacy settings control whether others can find you on Twitter by your email
    address or phone number.
    <br><br>
    Additional Information: You may choose to provide us with additional information to help improve and personalize
    your experience across our Services. For example, you may choose to upload and sync your address book so that we can
    help you find and connect with users you know or help other users find and connect with you. We may later tailor
    content, such as making suggestions or showing user accounts and Tweets for you and other users, based on imported
    address book contacts. You can delete your imported address book contacts at any time by visiting your Contacts
    Dashboard in your privacy settings. If you email us, we may keep your message, email address and contact information
    to respond to your request. If you connect your account on our Services to your account on another service in order
    to cross-post between our Services and that service, the other service may send us your registration or profile
    information on that service and other information that you authorize. This information enables cross-posting, helps
    us improve the Services, and is deleted from our Services within a few weeks of your disconnecting from our Services
    your account on the other service.
    <br><br>
    Tweets, Following, Lists, Profile, and other Public Information: Twitter is primarily designed to help you share
    information with the world. Most of the information you provide us through Twitter is information you are asking us
    to make public. You may provide us with profile information to make public on Twitter, such as a short biography,
    your location, your website, date of birth, or a picture. Additionally, your public information includes the
    messages you Tweet; the metadata provided with Tweets, such as when you Tweeted and the client application you used
    to Tweet; information about your account, such as creation time, language, country, and time zone; and the lists you
    create, people you follow, and Tweets you Like or Retweet. Twitter broadly and instantly disseminates your public
    information to a wide range of users, customers, and services, including search engines, developers, and publishers
    that integrate Twitter content into their services, and organizations such as universities, public health agencies,
    and market research firms that analyze the information for trends and insights. When you share information or
    content like photos, videos, and links via the Services, you should think carefully about what you are making
    public. We may use this information to make inferences, like what topics you may be interested in. Our default is
    almost always to make the information you provide through the Services public for as long as you do not delete it,
    but we generally give you settings or features, like protected Tweets, to make the information more private if you
    want. For certain profile information fields we provide you with visibility settings to select who can see this
    information in your profile. If you provide us with profile information and you don’t see a visibility setting, that
    information is public. You can change the language and time zone associated with your account at any time using your
    account settings, available at http://twitter.com/settings/account.
    <br><br>
    Direct Messages and Non-Public Communications: We provide certain features that allow you to communicate more
    privately. For example, you can use Direct Messages to have private conversations with other Twitter users. When you
    privately communicate with others through our Services, such as by sending and receiving Direct Messages, we will
    store and process your communications, and information related to them. Please note that if you interact with public
    Twitter content shared with you via Direct Message, for instance by liking a Tweet shared via Direct Message, those
    interactions may be public. While features like Direct Messages are intended to be private, please remember that
    recipients may copy, store, and re-share the contents of your communications.
</p>